body {
	width: 250px;
	height: inherit;
	background-color: rgb(207, 228, 235);
	border: 2px solid black;
	border-radius: 5px;
	padding: 5px;
}

.heading {
	width: 100%;
	text-align: center;
	margin-top: 0;
	margin-bottom: 0;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#button{
	display: block;
	color: rgb(5, 5, 5);
	border: 2px solid black;
	border-radius: 10px;
	padding: 10px;
	text-align: center;
	font-size: 16px;
	width: 50%;
	height: 50px;
	margin-left: auto;
	margin-right: auto;
	cursor: pointer;
	transition: border 0.2s ease-out;
}

#timediv {
	display: block;
	margin: auto;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5px;
	height: 20px;
	line-height: 20px;
	width: 90%;
}

#timedisplay {
	display: block;
	width: fit-content;
	margin: auto;
	height: 20px;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	font-weight: bold;	
}

#stopbtn {
	display: block;
	margin: auto;
	height: 20px;
	align-items: middle;
	height: 20px;
	width: 60px;
}

#timeWindow {
	display: block;
	width: 80%;
	height: 30px;
	margin: auto;
	padding: 5px;
}

.min {
	float: right;
	caret-color: transparent;
	height: 20px;
}

.hr {
	float: left;
	height: 20px;
}

span {
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	height: 20px;
}

.iphr,
.ipmin {
	width: 50px;
	height: 20px;
	margin-top: auto;
	margin-bottom: auto;
}

#head2 {
	padding: 10px;
	display: block;
	width: fit-content;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
	margin-bottom: 0;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}